* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

header {
    height: 100px;
    font-style: blue;
}

.header {
    max-width: 1250px;
    height: 80px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 150px;
    height: 30px;
}

.logoimg {
    padding: 10px 2px;
    font-size: 20px;
    font-family: 700;
    align-items: center;
    display: flex;
}

.navbar {
    flex: auto;
    display: flex;
    justify-content: center;
}

.navbar ul,
.navbar li {
    list-style: none;
    display: flex;
}

.navbar li a {
    color: blue;
    text-decoration: none;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
    align-items: center;
}

.navbar li a:hover {
    border: 3px solid blue;
}

a.btn {
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin: 0 10px;
}

.why {
    border: 2px solid blue;
}

.tax {
    border: 2px solid blue;
}

.over {
    border: 2px solid blue;
}

.sec {
    border: 2px solid blue;
}

.button {
    width: 100px;
}

input[type="button"] {
    background-color: blue;
    color: white;
    padding: 8px 20px;
    border: 1px solid blue;
    border-radius: 9px;
    cursor: pointer;
}

.description {
    width: 100%;
    height: 262px;
}

.descriptionarea {
    display: flex;
    height: 100%;
    align-items: center;
    color: #19171D;
    flex-direction: column;
    justify-content: center;
}

.description h1 {
    font-weight: bold;
    font-size: 46px;
    text-align: center;
    margin-bottom: 15px;
}

.description h1 span {
    color: #354BD1;
}

.description p {
    font-size: 16px;
    font-weight: 200px;
    color: #1F1E1F;
}

.SubmitEmail {
    width: 100%;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    border: 2px solid #ccc;
    display: inline-block;
    padding: 5px;
    border-radius: 7px;
}

form>input {
    border: none
}

form>button {
    background: blue;
    border: none;
    border-radius: 9px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
}

.ShowCase {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardOne {
    position: relative;
    padding: 10px;
    width: 260px;
    height: 150px;
    margin: 150px;
    border: 1px solid blue;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
    display: flex;
    flex-flow: wrap;
    background-color: #F8F9FE;
}

.cardOne h3{
    display: block;
    margin-left: 10px;
}

.cardOne p{
    display: flex;
    font-size: 12px;
    margin-top: 20px;
    margin-left: -45px;
}


.cardOne h1{
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
}

.cardOne h4{
    display: block;
    font-size: 12px;
    margin-top: 30px;
}

.cardOne h4 img{
    margin-top: 10px;
    display: inline;
}

.hsbctext {
    display: center;
    margin-top: 20px;
}

.cardImg {
    position: relative;
    width: 330px;
    height: 400px;
    background: url('../images/phonefoto.png');
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.cardTwo {
    background-color: #F8F9FE;
    position: relative;
    padding: 10px;
    width: 260px;
    height: 150px;
    margin-left: 150px;
    border: 1px solid blue;
    border-radius: 20px;
    overflow: hidden;
    transition: 0.5s;
}

.royaltext {
        display: block;
        margin-top: 20px;
    }
